.AboutPage {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  overflow: hidden;
}
.OwnerPhoto__Name__Logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.OwnerPhoto__Name {
  display: flex;
}
.OwnerName > h1 {
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}
.OwnerPhoto {
  display: inline-block;
  background-image: url("../assets/owner.jpg");
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 30px;
}
.Logos {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}
.Logos > img {
  margin-right: 10px;
  margin-bottom: 10px;
}
.AboutOwner > h2 {
  font-size: 30px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 20px;
}
.AboutOwner > p {
  font-size: 24px;
  color: #222222;
}

@media (min-width: 280px) and (max-width: 600px) {
  .AboutPage {
    overflow-y: scroll;
    overflow: visible;
    height: auto;
  }
  .OwnerPhoto__Name {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .OwnerName > h1 {
    font-size: 24px;
  }
  .AboutOwner > h2 {
    font-size: 24px;
  }
  .AboutOwner > p {
    font-size: 20px;
  }
  .Logos {
    width: 100%;
  }
  .OwnerPhoto__Name__Logos {
    flex-direction: column;
    align-items: flex-start;
  }
  .AboutOwner {
    overflow-y: scroll;
  }
}

@media (min-width: 601px) and (max-width: 899px) {
  .AboutPage {
    height: auto;
    justify-content: flex-start;
  }
  .OwnerPhoto__Name__Logos {
    flex-direction: column;
    align-items: flex-start;
  }
  .Logos {
    display: flex;
    width: 100%;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .OwnerPhoto__Name__Logos {
    flex-direction: column;
    align-items: flex-start;
  }
  .Logos {
    display: flex;
    width: 100%;
  }
}
